@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
}

.input-form {
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
}
 
.page-header {
    color: #000000;;
    background: #FFE17F;
    
}

.in-the-basket {
    font-size: 14px;
    line-height: 17px;
    background: #FFFFFF;
} 

 

.navigation-link {
    font-family: "rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    text-align: center;  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.navigation-link-user {
    font-family: "raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.short-description-number-item {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #FFE17F;
    text-align: right;

}

.short-description-figurative-description-item {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    text-align: left;
    color: #000000;
    background-color: inherit;
}

.short-description-device-description-item {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: inherit;
    text-align: left;
}

.gallery-more {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: inherit;
    background-color: #FFE17F;
    text-align: center;
    text-transform: uppercase;

}

.slider-table-row-title {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
    background-color: inherit;

}

.slider-table-meaning {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: inherit;
    background-color: inherit;

}

.devace-images {
    background-color: #FFE17F;

}

.devace-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: inherit;
    background-color: inherit;
    text-decoration: none;

}

.services-delivery-item a {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFE17F;
    background-color: #000000;
    

}

.services-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    background-color: #FFE17F;


}

.service-description-delivery {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: inherit;
    background-color: inherit;

}

.services {
    background-color: #F0F0F0;

}

.order {
    background-color: #F0F0F0;
}

.order-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

.about-us-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: inherit;
    background-color: inherit;
}

.about-us-paragraph {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: inherit;

}

.about-us-list {
    color: #FFC700;
}

.about-us-name {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: inherit;

}

.about-us-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    background-color: #FFE17F;
    
}

.contacts-subtitle {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    background-color: inherit;

}

.contacts-address .about-us-paragraph {
    font-style: normal;  
    text-decoration-line: underline;
    text-decoration: none;
}


.contacts-phone-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    text-decoration-line: underline;
    color: #444444;
    background-color: inherit;
    text-decoration: none;


}

.subscription {
    background-color: #F0F0F0;


}

.button {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: inherit;
    background-color: inherit;
}

.page-footer {
    background: #444444;

}

.footer-contacts-address {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-style: normal;  
    text-decoration-line: underline;
    line-height: 19px;
    color: #FFFFFF;


}

.fotter-scroll-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;

}

.footer-contacts-address-phone {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration: none;
    color: #FFFFFF;
}

.monopods-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

.filter-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    background-color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.filter {
    background: #F0F0F0;
}

.product {
    background-color: #FFFFFF;
}

.product-card-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    background-color: inherit;
    text-decoration: none;
}
.button-product {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-align: center;
    color: inherit;
    background-color: #000000;
    text-transform: uppercase;
}

.pagination-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    color: #000000;
    background-color: inherit;
}

.pagination-link-namber {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    text-decoration: none;
    opacity: 0.3;
}

.pagination {
    background: #EBEBEB;
}