@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
}


.subscription-mail {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.subscription-mail::placeholder {
    color: #444444;
    opacity: 0.5;
}

.input-form {
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
}
 

.page-header {
    width: 1160px;
    height: 300px;
    margin: 0 auto;
    color: #000000;
    background: #FFE17F;    
}

.header-logo {
    margin-left: 60px;
}

.navigation {
    width: 1160x;
    margin: 0 auto;
    
}

.navigation-list {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    
}

.navigator-item {
    display: flex;
    align-items: center;
    margin:0;
    padding: 0;
}

.search {
    width: 517px;
    margin-right: 26px;
    margin-left: 60px;

}

.come-in {
    width: 231px;
    margin-right: 26px;
}

.compare {
    width: 105px;
    margin-right: 36px;
}

.basket {
    width: 74px;
    margin-right: 60px;
}

.navigation-list-user {
    display: flex;
    width: 1160px;
    margin: 0;
    padding: 0;
}

.navigator-item-user {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
} 

.catalog-user {
    width: 293px;
    margin-right: 276px;
    margin-left: 60px;
}

.service-user {
    width: 127px;
    margin-right: 45px;
}

.navigator-item-user:nth-child(4) {
    margin-right: 60px;
}


.in-the-basket {
    font-size: 14px;
    line-height: 17px;
    background: #FFFFFF;
} 

.page-container {
    width: 1160px;
    margin: 0 auto;

}

.gallery {
    display: flex;
    width: 1160px;
   
}

.slider-prev {
    margin: 211px 0 289px 30px;
    align-self: center;
    
}

.slider-button {
    padding: 0;
}

.slider-next {
    margin: 211px 0 289px 0;
    align-self: center;
}


.devace-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
}


.index-columns {
    display: flex;
    justify-content: space-between;

}

.short-description {
    display: flex;
    flex-direction: column;
    width: 560px;
    
    
}

.services {
    display: flex;
    width: 1160px;
}

.services-list {
    width: 287px;
    margin-right: auto;
    margin-left: auto;
}

.delivery {
    display: flex;
    width: 694px;
    
}

.navigation-link-exit {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: inherit;
    opacity: 0.3;
    text-align: center;
    text-decoration: none;
}

.navigation-link {
    font-family: "rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    text-align: center;  
}

.main-container {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.navigation-link-user {
    font-family: "raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


.namber-one-device-list li {
    margin: 0;
    padding: 0;
}

.short-description-number-item {
    margin-right: 49px;
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #FFE17F;
    text-align: right;

}

.short-description-figurative-description-item {
    width: 545px;
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    text-align: left;
    color: #000000;
    background-color: inherit;
}

.short-description-device-description-item {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: inherit;
    text-align: left;
}

.gallery-more {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: inherit;
    background-color: #FFE17F;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.slider-table-row-title {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
    background-color: inherit;

}

.slider-table-meaning {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: inherit;
    background-color: inherit;

}

.devace-images {
    background-color: #FFE17F;

}

.devace-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    letter-spacing: -0.02em;
}

.services-list {
    letter-spacing: 0.2em;
}

.services-delivery-item a {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFE17F;
    background-color: #000000;
    

}

.services-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    background-color: #FFE17F;


}

.service-description-delivery {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: inherit;
    background-color: inherit;

}

.services {
    background-color: #F0F0F0;

}

.order {
    background-color: #F0F0F0;
    width: 1160px;
    margin: 0 auto;

}

.order-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    letter-spacing: 0.2em;
}

.navigation-search-field {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
}

.navigation-search-field::placeholder {
    color: #000000;
}

.about-us-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: inherit;
    background-color: inherit;
}

.about-us-paragraph {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: inherit;

}

.about-us-list {
    color: #FFC700;
}

.about-us-name {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: inherit;
    letter-spacing: -0.02em;
}

.about-us-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    background-color: #FFE17F;
    letter-spacing: 0.2em;
}

.catalog-filter-group:first-child input {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.catalog-filter-group:first-child input::placeholder {
    color: #000000;
    opacity: 0.3;
}

.contacts-subtitle {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    background-color: inherit;

}

.contacts-address .about-us-paragraph {
    font-style: normal;  
    text-decoration-line: underline;
    text-decoration: none;
}

.control {
    line-height: 19px;
} 

.contacts-phone-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #444444;
}

.subscription {
    background-color: #F0F0F0;


}

.button {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: inherit;
    background-color: inherit;
    letter-spacing: 0.2em;
    text-transform: uppercase;

}

.page-footer {
    background: #444444;

}

.page-footer-container {
    display: flex;
    width: 1140px;
    margin: 0 auto;
}

.footer-address-container {
    width: 239px;
    margin-right: 112px;
}

.footer-social-list {
    display: flex;
}

.footer-contacts-address {
    line-height: 19px;
    color: #FFFFFF;
    font-style: normal;

}

.fotter-scroll-list {
    display: flex;
    margin-left: auto;
    width: 444px;
}

.fotter-scroll-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.2em;
}

.footer-contacts-address-phone {
    color: #FFFFFF;
}

.monopods-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

.filter-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    background-color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.select-control {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.filter {
    background: #F0F0F0;
}

.product {
    background-color: #FFFFFF;
}

.product-card-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    background-color: inherit;
    text-decoration: none;
}
.button-product {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-align: center;
    color: inherit;
    background-color: #000000;
    text-transform: uppercase;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.monopods-list {
    display: flex;
}

.pagination-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    color: #000000;
    background-color: inherit;
}

.pagination-link-namber {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    text-decoration: none;
    opacity: 0.3;
}

.pagination {
    background: #EBEBEB;
}